{% extends "includes/layout.html" %}
{% block title %}Post Question{% endblock %}
{% block content %}
 
<!-- Display Flash Messages -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<div class="card p-3" style="margin-top: -10px;">



    
    <!-- Posts List -->
<Div class="row">

    {% include "includes/sidebar.html" %}
    
<div class="col-md" style="border: 1px solid #ccc;">


<h1 style="background-image: linear-gradient(to right, blue, lightgreen); padding: 20px; color: white; text-align: center;">About Us</h1>
<p>
    CSSE DevConnect is an open community for all students who take units under CSSE Department. 
    We help you get answers to your toughest coding or career questions, share knowledge with your coworkers in private, and find your next dream job.
    <div class="img-box">
        <img src="{{ url_for('static', filename='images/dev-connect-logo.jpeg') }}" alt="">
    </div>
    Over generations, CSSE DevConnect has accumulated a wealth of knowledge and experience from past CSSE students, 
    encompassing learning strategies, career preparation tips, skills, and more. 
    Join us to leverage this collective wisdom, streamline your academic journey, and advance your career with confidence.

    Our mission is to 
    <br>
    <br>
    <b>
        Help CSSE students to on just thrive in their academic journey but also to prepare them for the workforce.
    </b>
    <br>
    <br>
    We all feel it's hard and slow to find the right answers to our questions about the unit questions and career preparation questions
    even though we have a lot of resources available because they are scattered all over the place and very time-consuming to find. 
    Even though there are questions and answers from previous years but they are not available for new students.

    <br>
    But with CSSE DevConnect, you can quickly find solutions to your queries without having to sift through irrelevant information.
</p>

    {{ ckeditor.load() }}
    {{ ckeditor.config(name='content') }}
</div>
</div></Div>
{% endblock %}
 
{% block scripts %}
<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- Include the autocomplete script -->
<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
 
{% endblock %}
 