

            <section class="slider_section ">
                <div class="container ">
                <div class="row">
                    <div class="col-md-6 ">
                    <div class="detail-box">
                        <h1>
                        Get Connected &<br>
                        Thrive in Study and Career <br>
                        </h1>
                        <p>
                            CSSE DevConnect is a dedicated Q&A platform designed specifically for CSSE students, 
                            focusing on unit questions and career preparation. 
                            Here, you can quickly find solutions to your queries without having to sift through irrelevant information. 
                            Our platform is tailored to meet the needs of CSSE students, 
                            providing targeted and relevant answers.
                        </p>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="img-box">
                        <img src="{{ url_for('static', filename='images/connect1.png') }}" alt="">
                    </div>
                    </div>
                </div>
                </div>
            </section>
