{% extends "includes/layout.html" %}
{% block title %}Tags{% endblock %}
{% block content %}
<div class="tags">
    <h1>Tags</h1>
    <div class="row">
        {% for tag in tags %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ url_for('main.posts_by_tag', tag_id=tag.id) }}">{{ tag.tag }}</a></h5>
                    <p class="card-text">Total Posts: {{ tag.post_count }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
