    <header>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('main.index') }}" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="{{ url_for('main.forum') }}" class="nav-link">Forum Topics</a></li>
                <li class="nav-item"><a href="{{ url_for('auth.register') }}" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link">Login</a></li>
            </ul>
        </nav>
        <hr style="clear:both">
    </header>