{% extends "includes/layout.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Reset Password</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.first_name.label(class="form-label") }}
                    {{ form.first_name(class="form-control") }}
                    {% if form.first_name.errors %}
                        <div class="alert alert-danger">{{ form.first_name.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.uwa_id.label(class="form-label") }}
                    {{ form.uwa_id(class="form-control") }}
                    {% if form.uwa_id.errors %}
                        <div class="alert alert-danger">{{ form.uwa_id.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                    {% if form.email.errors %}
                        <div class="alert alert-danger">{{ form.email.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.old_password.label(class="form-label") }}
                    {{ form.old_password(class="form-control") }}
                    {% if form.old_password.errors %}
                        <div class="alert alert-danger">{{ form.old_password.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.new_password.label(class="form-label") }}
                    {{ form.new_password(class="form-control") }}
                    {% if form.new_password.errors %}
                        <div class="alert alert-danger">{{ form.new_password.errors[0] }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_new_password.label(class="form-label") }}
                    {{ form.confirm_new_password(class="form-control") }}
                    {% if form.confirm_new_password.errors %}
                        <div class="alert alert-danger">{{ form.confirm_new_password.errors[0] }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
