{% extends "includes/layout.html" %}

{% block content %}
<h2>New User Registration</h2>

<div class="container">
    <!-- Ensure the form action matches your Flask route for registration -->
    <form name="register" action="{{ url_for('auth.register') }}" method="post">
        <!-- Flask-WTF CSRF token -->
        {{ form.csrf_token }}

        <label for="first_name"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="first_name" required>
        <br>
        <label for="last_name"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="last_name" required>
        <br>
        <label for="uwa_id"><b>UWA ID (Student ID)</b></label>
        <input type="text" placeholder="Enter UWA ID" name="uwa_id" required>
        <br>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <br>
        <label for="major"><b>Major</b></label>
        <input type="text" placeholder="Enter Major" name="major" required>
        <br>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <label for="Confrim password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <br class="clear">
        <input class="btn-submit" type="submit" value="Register">
        <input type="reset" value="Reset" />
    </form>
</div>
{% endblock %}
