{% extends "includes/layout.html" %}

{% block content %}
<h2>New User Registration</h2>

<div class="container">
    <!-- Ensure the form action matches your Flask route for registration -->
    <form name="register" action="{{ url_for('auth.register') }}" method="post">
        {{ form.csrf_token }}
        
        {{ form.first_name.label }}<br>
        {{ form.first_name(size=32, class_='form-control', placeholder='Enter First Name') }}<br>

        {{ form.last_name.label }}<br>
        {{ form.last_name(size=32, class_='form-control', placeholder='Enter Last Name') }}<br>

        {{ form.uwa_id.label }}<br>
        {{ form.uwa_id(size=32, class_='form-control', placeholder='Enter UWA ID') }}<br>

        {{ form.email.label }}<br>
        {{ form.email(size=32, class_='form-control', placeholder='Enter Email') }}<br>

        {{ form.major.label }}<br>
        {{ form.major(size=32, class_='form-control', placeholder='Enter Major') }}<br>

        {{ form.password.label }}<br>
        {{ form.password(size=32, class_='form-control', placeholder='Enter Password') }}<br>

        {{ form.confirm_password.label }}<br>
        {{ form.confirm_password(size=32, class_='form-control', placeholder='Confirm Password') }}<br>

        <input class="btn btn-primary" type="submit" value="Register">
        <input class="btn btn-default" type="reset" value="Reset" />
    </form>
</div>
{% endblock %}
